body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(45deg, #e3b5a9, #f4a264);
  color: #333;
}

div {
  text-align: center;
  padding: 20px;
  background: rgba(227, 226, 226, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #bab8b8;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #feb47b;
}

.card {
  padding: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: background-color 0.5s ease;
  width: 250px;
}

.card h2 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.card p {
  font-size: 1.2rem;
  margin: 5px 0;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.céu-limpo {
  background-color: orange;
}

.poucas-nuvens {
  background-color: lightblue;
}

.nuvens-dispersas {
  background-color: lightgray;
}

.nublado {
  background-color: rgb(141, 140, 140);
}

.chuva-leve {
  background-color: lightblue;
}

.chuva {
  background-color: darkblue;
}

.tempestade {
  background-color: purple;
}

.neve {
  background-color: rgb(156, 255, 235);
  color: black;
}

.névoa {
  background-color: lightgray;
}

@media (max-width: 768px) {
  div {
    width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .card {
    padding: 30px 15px;
    width: 100%; 
    max-width: none; 
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1rem;
  }

  .weather-icon {
    width: 50px; 
    height: 50px;
  }

  button {
    font-size: 0.9rem;
  }
}


@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .weather-icon {
    width: 40px;
    height: 40px;
  }

  input,
  button {
    font-size: 0.9rem;
  }
}
